@define-color background #181616;
@define-color foreground #c5c9c5;
@define-color bg #0c0c0c;
* {
	font-family: "FantasqueSansM Nerd Font";
	font-weight: bold;
	min-height: 0;

	/* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
	font-size: 11px;
	font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';

}

window#waybar {
  background: @bg;
  color: @foreground;
  transition-property: background-color;
  transition-duration: 0.5s;
  padding: 0px;
}
#tags button {
    color: #767976;
  background-color: @bg;
  border-radius: 0px;
  padding: 15px;
}
#tags button.focused {
    color: #24283b;
    background-color: #5d5c5c;
}
#tags button.occupied {
  color: #c5c9c5;
}
#tags button:hover {
	background-color: #4d4c4c;
	color: #c0caf5;
}
#tags button.urgent {
  background-color: orange;
}

#clock {
  color: @foreground;
  background: #2b2b2b;
  padding: 15px;
}

#battery {
  padding: 15px;
  background-color: #222222;
}
#battery.warning {
  background-color: #9c9c00;
}
#battery.critical {
  background-color: #5a0000;
}
#battery.charging {
  background-color: #355a00;
}

#pulseaudio {
  padding: 15px;
  background-color: #191919;
  color: @foreground;
}

#tray {
  padding: 10px;
}
