@define-color background #181616;
@define-color foreground #c5c9c5;
@define-color bg #0c0c0c;

* {
  font-family: "FantasqueSansM Nerd Font";
  font-weight: 600;
  font-size: 12px;
  }

window#waybar {
  background: transparent;
  color: @foreground;
}

#tags {
  background-color: @background;
  margin: 5px;
  margin-left: 10px;
}

#tags button {
  color: #767976;
  padding: 5px 10px;
}
#tags button.focused {
    color: #24283b;
    background-color: #5d5c5c;
}
#tags button.occupied {
  color: #c5c9c5;
}
#tags button:hover {
  background-color: #4d4c4c;
  color: #c0caf5;
}
#tags button.urgent {
  background-color: orange;
}

#taskbar {
  background-color: @background;
  margin: 5px;
  margin-left: 10px;
}

#clock {
  background-color: @background;
  margin-right: 10px;
  padding: 5px 10px;
}

#battery {
  background-color: @background;
  padding: 5px 10px;
  margin-bottom: 5px;
}
#battery.warning {
  color: #9c9c00;
}
#battery.critical {
  color: #5a0000;
  font-weight: bolder;
}
#battery.charging {
  color: #355a00;
}

#pulseaudio {
  background-color: @background;
  padding: 5px 10px;
  margin-bottom: 5px;
}

#tray {
  background-color: @background;
  padding: 5px 10px;
  margin-bottom: 5px;
}

/**/
/* #separator { */
/*   background-color: @background; */
/* } */
